{% extends 'student_base.html' %}
{% block title %}Add details{% endblock title %}
{% block profiles_active %}active{% endblock profiles_active %}

{% block body %}
<div class="container-fluid">

    <div class="row">

        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                   <form class="form-horizontal" action="" method="post" enctype="multipart/form-data" >
                       {% csrf_token %}
                        <table>
                            {{ form.as_p}}
                        </table>






                       <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit"  class="save btn btn-default" formaction="">Submit</button>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>


    </div>
</div>
{% endblock body %}